/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}
/* basic design and structure */

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: top;
  justify-content: center;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: rgb(0, 0, 0);
  font-style: bold;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

main {
  display: grid;
  border: 2px rgba(0, 0, 0, 0.233) solid;
  height: auto;
  width: 90vw;

  /* grid-template-rows: 4fr 4fr 4fr 4fr;
  grid-template-columns: 2fr 0.3fr 3fr 1fr; */

  grid-template-areas:
    "box-contact or-menu sign-in"
    "box-contact or-menu sign-in"
    "box-contact or-menu sign-in"
    "box-contact or-menu sign-in"
    "footerstuff footerstuff footerstuff ";
}
/* 'the sign in chapter */
legend {
  font-size: 1.6rem;
  margin: 1rem;
}
.sign-in {
  grid-area: sign-in;
  display: flex;
}
.userna {
}

.userna input {
  color: blue;
  width: 14rem;
  height: 2rem;
  border: none;
  margin: 0.3rem;
  border-bottom: 2px rgba(0, 0, 0, 0.233) solid;
}
.gm {
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}
.loginbutton {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  background-color: rgb(80, 15, 199);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  border: 2px white solid;
  width: 5rem;
}
/* 'the OR */
.or-menu {
  grid-area: or-menu;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.or-menu p {
  border: 2px rgba(0, 0, 0, 0.233) solid;
  width: 3.2rem;
  padding: 0.9rem;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: white;
  color: rgba(0, 0, 0, 0.342);
}
/* 'fb whatsapp amazon box */
.box-contact {
  grid-area: box-contact;
  display: grid;

  gap: 2rem;
}
.box-contact a:nth-child(1) {
  background-color: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
}

.box-contact a:nth-child(2) {
  background-color: rgb(160, 122, 20);
  color: rgb(0, 0, 0);
}
.box-contact a:nth-child(3) {
  background-color: rgb(32, 117, 17);
  color: aliceblue;
}
.box-contact i {
  padding: 0.4rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.555);
}
.box-contact i {
  display: left;
  align-items: left;
  justify-content: left;
}

.box-contact a div {
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-contact p {
  color: aliceblue;
}
/* 'footer forgott,register */
.footerstuff {
  width: 90vw;
  grid-area: footerstuff;
  border: 2px rgba(0, 0, 0, 0.233) solid;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: rgb(30, 111, 182);
}
footer p {
  color: rgba(0, 0, 0, 0.233);
}
