/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Henny Penny", cursive;
  width: 100vw;
  height: 100vh;
  background-color: white;
  border: 2px red dashed;
  display: inline-block;
}
/* 'sign in with' part */
/* 'i modified the fieldset frame a bit */
::placeholder {
  font-family: "Henny Penny", cursive;
}
fieldset {
  border-right: none;
  border-top: none;
  border-bottom: none;
  float: center;
}
legend {
  font-size: 2rem;
  text-align: center;
}
/* i set up a size for the whole form */
form {
  margin: 3rem auto;
  width: 20rem;
  height: 20rem;
  border: 2px red dashed;
}
/* i beautified the e mail and pass fields */
input {
  margin: 4vh auto;
  display: block;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-left: none;
  border-top: none;
  border-right: none;
}
/* i centralized the rememb/login/checkbox pas */
.gamiesai {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* i beautified the login button */
.skta {
  font-family: "Henny Penny", cursive;
  letter-spacing: 0.3rem;
  background-color: rgb(80, 15, 199);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  width: 5rem;
}
/* i fixed the remember me a bit */
.label-style {
  width: auto;
  padding: 1rem;
}
/* signin FB part */
.alternativelog {
  margin: 3rem auto;
  width: 19rem;
  height: 19rem;
  border: 2px red dashed;
  display: grid;
  align-items: center;
  justify-content: left;
}
.boxwithall {
  border: 2px red dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  font-size: 3rem;
  color: rgb(80, 15, 199);
  box-shadow: 3px 3px 5px 3px rgb(83, 8, 71);
  border-radius: 50%;
}
.messengerbox {
  border: 2px red dashed;
  width: 19rem;
  height: 5rem;
  background-color: rgba(137, 43, 226, 0.39);
  display: flex;
  align-items: center;
  justify-content: left;
}
.amazonbox {
  border: 2px red dashed;
  width: 19rem;
  height: 5rem;
  background-color: rgba(30, 7, 53, 0.39);
  display: flex;
  align-items: center;
  justify-content: left;
}
.whatsappbox {
  border: 2px red dashed;
  width: 19rem;
  height: 5rem;
  background-color: rgba(137, 43, 226, 0.39);
  display: flex;
  align-items: center;
  justify-content: left;
}
